#menuToggle
{
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
}

#menuToggle input
{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-top: 5px;
  position: relative;

  background: var(--base-color);
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 2px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle input:checked ~ span:nth-last-child(1)
{
  transform: rotate(-45deg);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  transform: rotate(45deg);
}


.menu{
  position: fixed!important;
  top: 57px;
  bottom: 0;
  width: 300px;
  height: 100vh;
  background: var(--darkgray);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

.fechado{
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
.aberto{
  transform-origin: 0% 0%;
  transform: translate(0%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
