.testab{
  min-height: calc(var(--width)*.2);
  min-width: calc(var(--width)*.7);
  display: flex;
  justify-content: center;
}
body{
  background: var(--back-color);
  min-height: 100vh;
}

.clock{
  width: 350px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/clock.png);
  background-size: cover;
  border: 4px solid var(--darkgray);
  border-radius: 50%;
  /* box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.5),
              inset 0 -15px 15px rgba(255, 255, 255, 0.5),
              0 15px 15px rgba(0, 0, 0, 0.5),
              inset 0 15px 15px rgba(0, 0, 0, 0.5); */
}
.clock::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  z-index: 10;
}
.clock .hour,
.clock .min,
.clock .sc{
  position: absolute;
}
.clock .hour, .hr{
  width: 160px;
  height: 160px;
}
.clock .min, .mn{
  width: 190px;
  height: 190px;
}
.clock .sec, .sc{
  width: 230px;
  height: 230px;
}
.hr, .mn, .sc{
  display: flex;
  justify-content: center;
  border-radius: 50%;
}
.hr::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    z-index: 5;
    border-radius: 6px 6px 0 0 ;
}
.mn::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #fff;
    z-index: 5;
    border-radius: 6px 6px 0 0 ;
}
.sc::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #fff;
    z-index: 5;
    border-radius: 6px 6px 0 0 ;
}
.testab svg{
  height: calc(var(--width)*.2);
  width: calc(var(--width)*.2);
}
.testab img{
  height: calc(var(--width)*.2);
  width: calc(var(--width)*.2);
  margin-top: 25px;
}
.cls-14{
  fill: transparent;
  box-shadow: inset 10px 10px 10px var(--box-shadow);
  transform-origin: center;
  animation: circu .7s infinite forwards;
}
@keyframes circu {
  0%{
    transform: rotateZ(0deg);
    --box-shadow:#100
  }
  1%{
    transform: rotateZ(3.6deg);
    --box-shadow:#099
  }
  2%{
    transform: rotateZ(7.2deg);
    --box-shadow:#098
  }
  3%{
    transform: rotateZ(10.8deg);
    --box-shadow:#097
  }
  4%{
    transform: rotateZ(14.4deg);
    --box-shadow:#096
  }
  5%{
    transform: rotateZ(18deg);
    --box-shadow:#095
  }
  6%{
    transform: rotateZ(21.6deg);
    --box-shadow:#094
  }
  7%{
    transform: rotateZ(25.2deg);
    --box-shadow:#093
  }
  8%{
    transform: rotateZ(28.8deg);
    --box-shadow:#092
  }
  9%{
    transform: rotateZ(32.4deg);
    --box-shadow:#091
  }
  10%{
    transform: rotateZ(36deg);
    --box-shadow:#090
  }
  11%{
    transform: rotateZ(39.6deg);
    --box-shadow:#089
  }
  12%{
    transform: rotateZ(43.2deg);
    --box-shadow:#088
  }
  13%{
    transform: rotateZ(46.800000000000004deg);
    --box-shadow:#087
  }
  14%{
    transform: rotateZ(50.4deg);
    --box-shadow:#086
  }
  15%{
    transform: rotateZ(54deg);
    --box-shadow:#085
  }
  16%{
    transform: rotateZ(57.6deg);
    --box-shadow:#084
  }
  17%{
    transform: rotateZ(61.2deg);
    --box-shadow:#083
  }
  18%{
    transform: rotateZ(64.8deg);
    --box-shadow:#082
  }
  19%{
    transform: rotateZ(68.4deg);
    --box-shadow:#081
  }
  20%{
    transform: rotateZ(72deg);
    --box-shadow:#080
  }
  21%{
    transform: rotateZ(75.60000000000001deg);
    --box-shadow:#079
  }
  22%{
    transform: rotateZ(79.2deg);
    --box-shadow:#078
  }
  23%{
    transform: rotateZ(82.8deg);
    --box-shadow:#077
  }
  24%{
    transform: rotateZ(86.4deg);
    --box-shadow:#076
  }
  25%{
    transform: rotateZ(90deg);
    --box-shadow:#075
  }
  26%{
    transform: rotateZ(93.60000000000001deg);
    --box-shadow:#074
  }
  27%{
    transform: rotateZ(97.2deg);
    --box-shadow:#073
  }
  28%{
    transform: rotateZ(100.8deg);
    --box-shadow:#072
  }
  29%{
    transform: rotateZ(104.4deg);
    --box-shadow:#071
  }
  30%{
    transform: rotateZ(108deg);
    --box-shadow:#070
  }
  31%{
    transform: rotateZ(111.60000000000001deg);
    --box-shadow:#069
  }
  32%{
    transform: rotateZ(115.2deg);
    --box-shadow:#068
  }
  33%{
    transform: rotateZ(118.8deg);
    --box-shadow:#067
  }
  34%{
    transform: rotateZ(122.4deg);
    --box-shadow:#066
  }
  35%{
    transform: rotateZ(126deg);
    --box-shadow:#065
  }
  36%{
    transform: rotateZ(129.6deg);
    --box-shadow:#064
  }
  37%{
    transform: rotateZ(133.20000000000002deg);
    --box-shadow:#063
  }
  38%{
    transform: rotateZ(136.8deg);
    --box-shadow:#062
  }
  39%{
    transform: rotateZ(140.4deg);
    --box-shadow:#061
  }
  40%{
    transform: rotateZ(144deg);
    --box-shadow:#060
  }
  41%{
    transform: rotateZ(147.6deg);
    --box-shadow:#059
  }
  42%{
    transform: rotateZ(151.20000000000002deg);
    --box-shadow:#058
  }
  43%{
    transform: rotateZ(154.8deg);
    --box-shadow:#057
  }
  44%{
    transform: rotateZ(158.4deg);
    --box-shadow:#056
  }
  45%{
    transform: rotateZ(162deg);
    --box-shadow:#055
  }
  46%{
    transform: rotateZ(165.6deg);
    --box-shadow:#054
  }
  47%{
    transform: rotateZ(169.20000000000002deg);
    --box-shadow:#053
  }
  48%{
    transform: rotateZ(172.8deg);
    --box-shadow:#052
  }
  49%{
    transform: rotateZ(176.4deg);
    --box-shadow:#051
  }
  50%{
    transform: rotateZ(180deg);
    --box-shadow:#050
  }
  51%{
    transform: rotateZ(183.6deg);
    --box-shadow:#049
  }
  52%{
    transform: rotateZ(187.20000000000002deg);
    --box-shadow:#048
  }
  53%{
    transform: rotateZ(190.8deg);
    --box-shadow:#047
  }
  54%{
    transform: rotateZ(194.4deg);
    --box-shadow:#046
  }
  55%{
    transform: rotateZ(198deg);
    --box-shadow:#045
  }
  56%{
    transform: rotateZ(201.6deg);
    --box-shadow:#044
  }
  57%{
    transform: rotateZ(205.20000000000002deg);
    --box-shadow:#043
  }
  58%{
    transform: rotateZ(208.8deg);
    --box-shadow:#042
  }
  59%{
    transform: rotateZ(212.4deg);
    --box-shadow:#041
  }
  60%{
    transform: rotateZ(216deg);
    --box-shadow:#040
  }
  61%{
    transform: rotateZ(219.6deg);
    --box-shadow:#039
  }
  62%{
    transform: rotateZ(223.20000000000002deg);
    --box-shadow:#038
  }
  63%{
    transform: rotateZ(226.8deg);
    --box-shadow:#037
  }
  64%{
    transform: rotateZ(230.4deg);
    --box-shadow:#036
  }
  65%{
    transform: rotateZ(234deg);
    --box-shadow:#035
  }
  66%{
    transform: rotateZ(237.6deg);
    --box-shadow:#034
  }
  67%{
    transform: rotateZ(241.20000000000002deg);
    --box-shadow:#033
  }
  68%{
    transform: rotateZ(244.8deg);
    --box-shadow:#032
  }
  69%{
    transform: rotateZ(248.4deg);
    --box-shadow:#031
  }
  70%{
    transform: rotateZ(252deg);
    --box-shadow:#030
  }
  71%{
    transform: rotateZ(255.6deg);
    --box-shadow:#029
  }
  72%{
    transform: rotateZ(259.2deg);
    --box-shadow:#028
  }
  73%{
    transform: rotateZ(262.8deg);
    --box-shadow:#027
  }
  74%{
    transform: rotateZ(266.40000000000003deg);
    --box-shadow:#026
  }
  75%{
    transform: rotateZ(270deg);
    --box-shadow:#025
  }
  76%{
    transform: rotateZ(273.6deg);
    --box-shadow:#024
  }
  77%{
    transform: rotateZ(277.2deg);
    --box-shadow:#023
  }
  78%{
    transform: rotateZ(280.8deg);
    --box-shadow:#022
  }
  79%{
    transform: rotateZ(284.40000000000003deg);
    --box-shadow:#021
  }
  80%{
    transform: rotateZ(288deg);
    --box-shadow:#020
  }
  81%{
    transform: rotateZ(291.6deg);
    --box-shadow:#019
  }
  82%{
    transform: rotateZ(295.2deg);
    --box-shadow:#018
  }
  83%{
    transform: rotateZ(298.8deg);
    --box-shadow:#017
  }
  84%{
    transform: rotateZ(302.40000000000003deg);
    --box-shadow:#016
  }
  85%{
    transform: rotateZ(306deg);
    --box-shadow:#015
  }
  86%{
    transform: rotateZ(309.6deg);
    --box-shadow:#014
  }
  87%{
    transform: rotateZ(313.2deg);
    --box-shadow:#013
  }
  88%{
    transform: rotateZ(316.8deg);
    --box-shadow:#012
  }
  89%{
    transform: rotateZ(320.40000000000003deg);
    --box-shadow:#011
  }
  90%{
    transform: rotateZ(324deg);
    --box-shadow:#010
  }
  91%{
    transform: rotateZ(327.6deg);
    --box-shadow:#009
  }
  92%{
    transform: rotateZ(331.2deg);
    --box-shadow:#008
  }
  93%{
    transform: rotateZ(334.8deg);
    --box-shadow:#007
  }
  94%{
    transform: rotateZ(338.40000000000003deg);
    --box-shadow:#006
  }
  95%{
    transform: rotateZ(342deg);
    --box-shadow:#005
  }
  96%{
    transform: rotateZ(345.6deg);
    --box-shadow:#004
  }
  97%{
    transform: rotateZ(349.2deg);
    --box-shadow:#003
  }
  98%{
    transform: rotateZ(352.8deg);
    --box-shadow:#002
  }
  99%{
    transform: rotateZ(356.40000000000003deg);
    --box-shadow:#001
  }
  100%{
    transform: rotateZ(360deg);
    --box-shadow:#000
  }
}
