:root{
  --base-color: #128df6;
  --back-color: #080810;
  --purple: #cd00cd;
  --fiap: #ed145b;
  --width: 100vw;
  --widtha: 100%;
  --darkgray: #151515;
  --gray: #212121;
  --dark-color: #080810;
  --sec: 0;
}
